<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<h1>Pages</h1>
<table class="table table-bordered table-striped">
    <tr>
        <th>Title</th>
        <th colspan = "2">Options</th>
    </tr>
    <% for(var i=0; i<pages.length; i++){ %>
        <tr>
            <td>
                <a target="_blank" href="/pages/<%= pages[i].url %>"><%= pages[i].title%></a>
            </td>
            <td>
                <a href='/admin/page/<%=pages[i]._id%>' class="btn btn-default">edit</a>
            </td>
            <td>
                <form name="delete" method="post" action="/admin/page/<%=pages[i]._id%>">
                    <input name="action" type="hidden", value="delete">
                    <input class="btn btn-default" type="submit" value="delete">
                </form>
            </td>
        </tr>
    <% } %>

</table>

<a class='btn btn-default' href='/admin/newPage/'>add new page</a>
</body>
</html>
