<!DOCTYPE html>
<html>
<head>
    <title>Edit Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<h1>Edit Page</h1>

<form name="editPage" method="post">
    <input name="action" type="hidden", value="edit">
    <input name="title" class="form-control" placeholder="title" value="<%=title%>">
    </br>
    <textarea name="body" placeholder="body" rows="30"><%-body%></textarea>
    </br>
    <input name="url" class="form-control" placeholder="url" value="<%=url%>">
    <br/>
    <button type="submit" class="btn btn-default">update</button>
</form>

</body>
</html>
