<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<h1>New Page</h1>

<form name="newPage" method="post">
    <input name="title" class="form-control" placeholder="title">
    </br>
    <textarea name="body" placeholder="body" rows="20" cols="30"></textarea>
    </br>
    <input name="url" class="form-control" placeholder="url">
    </br>
    <button type="submit" class="btn btn-default">submit</button>
</form>

</body>
</html>
