<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/contenttools/content-tools.min.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>
    <div data-editable data-name="title">
        <h1 id="title"><%=title%></h1>
    </div>

        <p hidden id="hidden_id"><%= _id%></p>
    <div id="body" data-editable data-name="body">
        <p><%-body%></p>
    </div>

<script src="/contenttools/content-tools.min.js"></script>
<script src="/contenttools/editor.js"></script>
</body>
</html>
